@model List<Note>

<div class="text-end">
    <a class="text-center" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
</div>
<h1 class="text-center">Заметки пользователя</h1>
<div class="text-start p-2">
    <a class="btn btn-primary" asp-action="Create">+</a>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var note in Model)
    {
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@note.Head</h5>
                <p class="card-text">@note.Text</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@note.Id">Редактировать</a>
            </div>
        </div>
    }
</div>