<div class="text-center">
    <h1 class="text-center">Онлайн приложение для создания заметок</h1>
    <a class="btn btn-primary" asp-area="User" asp-controller="Notes" asp-action="NotesList">Попробовать Notes</a>
</div>

<div class="text-center p-5">
    <h4>Notes - путь к удобству в повседневной жизни</h4>
</div>
<div class="text-center">
    <p>Веб-приложение "Notes" позволяет вносить заметки с перечнем задач,</p>
    <p>удалять и редактировать их, а также добавлять в свои задачи</p>
    <p>других участников, зарегистрированных в приложении</p>
</div>