@model LoginViewModel
@{
    Layout = "_AccountLayout";
}

<form class="form-control" asp-controller="Account" asp-action="Login" method="post">
    <h1 class="text-center">Логин форма</h1>
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label class="form-label">Логин</label>
        <p><input class="form-control" asp-for="Login" /></p>
        <span class="text-danger" asp-validation-for="Login"></span>
    </div>
    <div>
        <label class="form-label">Пароль</label>
        <p><input class="form-control" asp-for="Password" /></p>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Войти</button>
    </div>
</form>

<!--<a class="btn btn-primary" asp-area="User" asp-controller="Home" asp-action="Notes">Войти</a>-->
