@model Note

<form class="form-control" asp-action="EditNote" method="post">
    <h1 class="text-center">Обновить данные</h1>
    <input type="hidden" asp-for="UserId" />
    <div>
        <label class="form-label">Название</label>
        <p><input class="form-control" asp-for="Head" /></p>
        <span class="text-danger" asp-validation-for="Head"></span>
    </div>
    <div>
        <label class="form-label">Содержание</label>
        <p><input class="form-control" asp-for="Text" /></p>
        <span class="text-danger" asp-validation-for="Text"></span>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
</form>
